.head {
   cursor: auto;
   background: #f9fafb;
   text-align: inherit;
   color: rgba(0,0,0,.87);
   padding: .92857143em .78571429em;
   vertical-align: inherit;
   font-style: none;
   font-weight: 700;
   text-transform: none;
   border-bottom: 1px solid rgba(34,36,38,.1);
   border-left: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A9A9A9;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A9A9A9;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #A9A9A9;
}

.inline {
  display: inline;
}

label {
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    color: #2185d0;
    margin-right: 15px;
    padding: 0;
    text-decoration-skip-ink: "auto";
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 20px !important;
    }

    p {
      font-size: 10px;
    }

    .mobile-hide {
        display: none !important;
    }

    .search-bar {
        text-align: left !important;
    }

    .user-actions {
        margin-top: 0px !important;
        text-align: left !important;
    }

    table {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 320px) {
    p {
        font-size: 8px;
    }
}